
#gameArea{
	height: 300px;
	width: 800px;
	border: 3px solid #000000;";
}

.racer{
	height: 100px;
	width: 100px;
	position: absolute;
    top: 0;
    left: 0;
}

#racer1{
	background: blue;
	margin: 100px 0 0 10px;
}

#racer2{
	background: red;
	margin: 250px 0 0 10px;
}